
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    font-family: Roboto;
    width: 100vw;    
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #474E68, #50577A, #6B728E);
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
    

}

@-webkit-keyframes gradient {
    0%{background-position:50% 0%;}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
.titolo{
    text-align: center;
    font-size: 50px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    margin-top: 50px;
}
#titolo2{
    text-align: center;
    font-size: 50px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    margin-top: -50px;
    z-index: -1;
}
#titolo22{
    text-align: center;
    font-size: 50px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    z-index: -1;
    
}
#divPadre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 300px;
    margin-top: 50px;
    width: 100vw;

}
#divStudente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

#divDocente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.imgUtente{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #50577A;
}
#btnLoginDocente, #btnLoginStudente{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #FFFFFFd2;
    background-color: #FFFFFF50;
    color: #FFFFFFd2;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .2s transform ease-in-out;
}
button > .barra{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 0;
    background-color: #404258;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 0;
}
button:hover > .barra{
    max-width: 100%;
    
}
button:hover + .imgUtente{
    transform: scale(1.1);
}
#btnLoginDocente:hover, #btnLoginStudente:hover{
    transform: scale(1.1);
}
.textBtnLogin{
    position: relative;
    z-index: 1;
}
.sus{
    transform: scale(150);
}
h2{
    
}
#divLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    font-size: 25px;
}
.inputLogin{
    /* background: transparent; */
    width: 3vw;
    height: 6vh;
    border-radius: 100px;
    text-align: center;
    border: solid 3px #474E68;
}
#btnHome{
    font-size: 4vw;
    margin-left: 1vw;
    margin-top: 1vw;
    cursor: pointer;
    z-index: 3 !important;
}
#btnHome:hover{
    animation: animHomeHoverIN 1s forwards;
}
@keyframes animHomeHoverIN{
    0%{
        transform: scale(100%);
        background-color: transparent;
    }
    100%{
        transform: scale(120%);
        background-color: #404258;
    }
}
#btnHome:not(:hover){
    animation: animHomeHoverOUT 1s forwards;
}
@keyframes animHomeHoverOUT{
    0%{
        transform: scale(120%);
        background-color: #404258;
    }
    100%{
        transform: scale(100%);
        background-color: transparent;
    }
}
#codiceUtente{
    position: relative;
}
#iconUser{
    position: absolute;
    height: 20px;
    aspect-ratio: 1/1;
    z-index: 1;
    left: calc(50% - 11px);
    top: 50%;
}
#divAiuto{
    text-align: center;
    font-size: 20px;
    color: #404258;
    text-decoration: underline;
    cursor: pointer;
}
.nascosto{
    display: none !important;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #6B728E;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 15vh;
  }
  
  .login-container input,
  .login-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .login-container input {
    background-color: #50577A;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease-in-out;
  }
  
  .login-container input:focus {
    border-color: #0088cc;
  }
  
  .login-container input::placeholder {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  
  .login-container input:focus::placeholder {
    color: transparent;
  }
  
  .login-container button {
    background-color: #6B728E;
    filter: drop-shadow(0px 0px 10px #ffffffd7);
    color: #404258;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-container button:hover {
    background-color: #404258;
    color: white;
  }
  
  .login-container button:active {
    background-color: #404258;
  }
.swal-bg-red{
    background-color: #6B728E !important;
}

  /* CSS PAGINA STUDENTE */

#divSinistra{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 25vw;
    height: 98vh;
    margin-top: 1vh;
    margin-left: 1vh;
    background-color: #474E68;
    border-radius: 20px;
    animation-name: animSinistra;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.41);
}

#h1Benvenuto{
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 10vh;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    color: transparent;
    -webkit-background-clip: text;
}
#h2Benvenuto{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 5vh;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    color: transparent;
    -webkit-background-clip: text;
}

@keyframes animSinistra {
    0%{
        left: -50vw;
    }
    100%{
        left: 0;
    }
}

#divDestra{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 73vw;
    height: 38vh;
    margin-top: 1vh;
    margin-left: 52vh;
    background-color: #474E68;
    border-radius: 20px;
    animation-name: animDestra;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    flex-direction: row;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.41);

    gap: 0vh;
}

@keyframes animDestra {
    0%{
        left: 200vw;
    }
    100%{
        left: 0;
    }
}

.divsSelezione{
    width: 12vw;
    height: 25vh;
    background-color: red;
    margin-left: 20px;
    margin-top: 7vh;
    margin-right: 20px;

    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.41);
}
.divsSelezione:hover{
    animation: animZoomDivs 0.5s forwards;
}
@keyframes animZoomDivs{
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(110%);
    }
}

.divsSelezione:not(:hover){
    animation: animNotZoomDivs 0.5s forwards;
}
@keyframes animNotZoomDivs{
    0%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}
#divAnagrafico{
    display: flex;
    justify-content: flex-start;
}
#userImg{
    margin-left: 15%;
    margin-top:20%;
    -webkit-user-drag: none;
}
#divMaterie{
    
}

.testoSelezione{
    position: absolute;
    margin-left: 4vh;
    margin-top: 1vh;
    font-size: 30px;
    background-image: linear-gradient(#404258,#6B728E);
    filter: drop-shadow(0px 0px 10px #ffffffa4);
    color: transparent;
    -webkit-background-clip: text;
    width: 9vw;
    height: 23vh;
    opacity: 0%;
}
#txtAssenze{
    margin-left: 5.5vh; 
}
#txtMaterie{
    margin-left: 6vh; 
}
#txtVoti{
    margin-left: 9vh;
}
#txtArgomenti{
    margin-left: 2vh;
}
.testoSelezione:hover{
    animation: animTestoSelezione 0.5s forwards;
}
@keyframes animTestoSelezione {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.testoSelezione:not(:hover){
    animation: animNotTestoSelezione 0.5s forwards;
}
@keyframes animNotTestoSelezione {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

#divSelezionato{
    width: 73vw;
    height: 58vh;
    border: 1px solid black;
    position: absolute;
    margin-top: 41vh;
    left: 52vh;
    background-color: #474E68;
    border-radius: 20px;
    animation-name: animSelezionato;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    flex-direction: row;
    animation: animDivSelezionato 2s forwards;
}

@keyframes animDivSelezionato {
    0%{
        top: 200vw;
    }
    100%{
        top: 0;
    }
}



@media screen and (width<=800px) {
    #divPadre{
        flex-direction: column;
        gap: 50px;
        margin-top: 10vh;
    }
    #divStudente, #divDocente{
        margin-top: 0;
    }
    #divStudente > h2, #divDocente > h2{
        font-size: 30px;
    }
    #divStudente > .imgUtente, #divDocente > .imgUtente{
        width: 150px;
        height: 150px;
    }
    #divStudente > button, #divDocente > button{
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
    #divLogin{
        font-size: 15px;
    }
    .inputLogin{
        width: 10vw;
        height: 4vh;
    }
    .inputs{
        height: 5vh;
    }
    #btnHome{
        font-size: 8vw;
    }
    #login-btn{
        height: 5vh;
    }
    .login-container {
        width: 80vw;
        height: 18vh;
        padding: 10px;
        margin-top: 20vh;
    }
    .login-container input,
    .login-container button {
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .login-container input::placeholder {
        font-size: 10px;
    }
    .login-container button {
        font-size: 10px;
    }

    .titolo{
        margin-top: 2vh;
    }
    #titolo22, #titolo2{
        margin-top: 2vh;
    }
    
}


